.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color: white;
}

.img-app {
  width: 50vw;
  height: 100vh;
  object-fit: cover
}


/* DESC-AREA */
.desc-box {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.desc-box img {
  width: 20px;
  margin: 10px auto 20px auto;
}

.desc-box hr {
  width: 50px;
  height: 2px;
  background-color: white;
  margin-top: 0;
}


/* REVIEW-AREA */
.review-box {
  display: flex;
  justify-content: space-between;
}

.review-box p {
  font-style: italic;
  font-size: 14px;
  width: 35vw;
  margin: auto;
}

.review-box i {
  font-size: 20px;
}

.review-box img {
  width: 15px;
  height: 12px;
  cursor: pointer;
}


/* DOT-AREA */
.dot-box {
  display: flex;
  justify-content: center;
  margin: 50px auto
}

.dot-box div {
  border: 2px solid white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
}

.dot-bold {
  background-color: white;
  transition-duration: 1s;
}


/* MOBILE */
@media screen and (max-width: 780px) {
  .App {
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
  }

  .img-app {
    width: 100vw;
    height: auto;
  }

  .desc-box {
    width: 100vw;
    height: auto;
  }

  .review-box p {
    width: 80vw;
    font-size: 18px;
  }
}